<!--- MENU SECTION --->

<div class="header-menu">
	<!--- HOME BUTTON --->
	<a href="https://www.facebook.com/BVanciniTerapeuta" target="_blank" title="Home">
		<div class="header-menu-button">
			<span class="header-menu-button-label">
				Facebook
			</span>
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-facebook fa-stack-1x"></i>
			</span>
		</div>
	</a>
	
	<a href="http://twitter.com/betzalcoatl" target="_blank">
		<div class="header-menu-button">
			<span class="header-menu-button-label">
				Twitter
			</span>
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-twitter fa-stack-1x"></i>
			</span>
		</div>
	</a>

	<a href="https://www.linkedin.com/pub/betzab%C3%A9-vancini/a4/a03/a58" target="_blank">
		<div class="header-menu-button">
			<span class="header-menu-button-label">
				LinkedIN
			</span>
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-linkedin fa-stack-1x"></i>
			</span>
		</div>
	</a>

	<a href="mailto:betzabevancini@yahoo.com.mx" target="_blank">
		<div class="header-menu-button">
			<span class="header-menu-button-label">
				Consultas
			</span>
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-at fa-stack-1x"></i>
			</span>
		</div>
	</a>
</div>
