<!--- MENU SECTION --->

<div class="header-menu">
	<!--- HOME BUTTON --->
	<a href="http://facebook.com/betzabe.vancini" title="Home">
		<div class="header-menu-button">
			<span class="header-menu-button-label">
				Facebook
			</span>
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-facebook fa-stack-1x"></i>
			</span>
		</div>
	</a>
	
	<!--- ABOUT BUTTON --->
	<!--- Link to a static page titled "About" --->
	<a href="mailto:betzabevancini@yahoo.com.mx">
		<div class="header-menu-button">
			<span class="header-menu-button-label">
				Consultas
			</span>
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-phone fa-stack-1x"></i>
			</span>
		</div>
	</a>
	
	

</div>
