<!--- TEMPLATE FOR BLOG POST --->
{{!< default}}

<div class="container">
	
	<!-- HEADER COLUMN --->	
	<div class="header-col">
		<header>
			{{> header }}	
		</header>
	</div>
	
	
	<!--- MAIN COLUMN --->
	<div class="main-col">
		<main>
			<div class="post-entry">
				<!--- POST CONTENT --->
				{{#post}}	
				<article role="article" itemscope itemtype="http://schema.org/Article" class="postlistArticle">
					<h1 class="post-title">{{title}}</h1>
					<br>
					<time datetime="{{date format="YYYY MMM DD"}}" itemprop="datePublished">
						<span class="datetime-full">{{date format="DD.MM.YYYY"}}</span>
					</time>
					<!--- Sharing Section --->
						{{> share }}
					<div class="hrule"></div>
					<div class="postContent">
						{{content}} 
					</div>
					<!--- Sharing Section --->
						{{> share }}
					<!--- Comment sections - using DISQUS as default --->
				{{> comment }}
				</article>
					
				{{/post}}	
			</div>
		</main>
		<footer>
			{{> footer}}
		</footer>
	</div>
</div>

